    <nav>
    <a href="" class="matches"><img src="images/SVG/matches.svg" alt=""></a>
    <a href="" class="home"><img src="images/SVG/home.svg" alt=""></a>
    <a href="" class="profile"></a>
    </nav>