    <nav>
    <a href="/matches" class="matches"><img src="images/SVG/matches.svg" alt=""></a>
    <a href="/#" class="home"><img src="images/SVG/home.svg" alt=""></a>
    <a href="/profile" class="profile"></a>
    </nav>