    <nav>
    <a href="/matches" class="matches"><img src="images/SVG/matches.svg" alt="matches"></a>
    <a href="/#" class="home"><img src="images/SVG/home.svg" alt="home"></a>
    <a href="/profile" class="profile"><img src="images/SVG/profile.svg" alt="profile"></a>
    </nav>