<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="/style.css">
    <title>UpStart</title>
</head>

<body>
    <!-- Body Content will render here -->


    {{{body}}}
    

</body>
</html>