{{> header}}
<div class="matches-container">
<h2>All users ( {{amount}} )</h2>
  <ul class="people_list">
    {{#each users}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
</div>
{{> footer}}