/* GLOBAL POSITIONING */
html {

}


body{
    background-image: url(../images/background-upstart.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: staatliches, roboto, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
    margin: 2em 0 2em 0;
}

img.logo {
    height: 2.5em;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0 0 0 0.5em;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0 0 2em 0em; 
    font-size: 2em;
}

/* CARDS */
div.home-container{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 19em;
}

div.card {
    height: 25em;
    min-width: 15em;
    padding: 2em;
    margin: 0 1em;
    background-image: url(../images/guy-925730_1280.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 2em;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h3.businessname{
    font-size: 2em;
    
}

h3.username{
    font-size: 1.5em;
    margin: 0;
}

/* CARD BUTTONS X and V */
div.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
}

button {
    height: 5em;
    width: 5em;
    border-radius: 100%;
}

button.X {
    background-color: red;
}

button.V {
    background-color: green;
}


/* BOTTOM NAV BUTTONS */

nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 1em;
    left: 0;
}

nav a {
    border-radius: 100%;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

nav a.matches{
    width: 4em;
    height: 4em;
}

nav a.matches img{
    width: 2em;
    height: 2em;
}

nav a.home {
    width: 5em;
    height: 5em;
}

nav a.home img{
    width: 3em;
    height: 3em;
}

nav a.profile {
    width: 4em;
    height: 4em;
}

nav a.profile img{
    width: 2em;
    height: 2em;
}